<%- include("header.ejs") %>

<div class="middle">
    <h1>Add question</h1>
    <form method="post" action="/add2p&<%= zero %>" autocomplete="off">
        <label><b>Subject:</b></label>
        <input class="add-input" type="text" name="add_topic" value="<%= currenttopic %>" required readonly><br><br>
        <label><b>Course:</b></label>
        <select name="add_course" placeholder="Course..." required>
            <option name="opt_course" value="<%= currentcourse %>"><%= currentcourse %></option>
            <% for (const row of all) {%>
                <option name="opt_course" value="<%= row.course %>"><%= row.course %></option>
            <% } %>
        </select><br><br>
        <label style="position: relative; left: -5px;"><b>Question:</b></label>
        <input class="add-input" type="text" style="position: relative; left: -5px;" name="add_quest" maxlength="100" required><br><br>
        <label><b>Answer:</b></label>
        <input class="add-input" type="text" name="add_answer" maxlength="100" required><br><br>
        <input type="submit" value="+ Add Question" class="add-button">
        <input type="hidden" name="currentcourse" value="<%= currentcourse %>"><br><br>
    </form>
</div>



<%- include("footer.ejs") %>