<%- include("header.ejs") %>


<div class="middle">
    <h1>Delete Course</h1>

    <form method="post" action="/deletep" autocomplete="off">
        <label><b>Subject:</b></label>
        <input type="text" class="del-input" name="topic" value="<%= currenttopic %>" readonly><br><br>
        <label><b>Course:</b></label>
        <input type="text" class="del-input" name="course" value="<%= currentcourse %>" readonly><br><br>
        <!-- <label><b>Question:</b></label> -->
        <input type="hidden" name="question" value="<%= currentquestion %>" readonly><br><br>
        <!-- <label><b>Answer:</b></label> -->
        <input type="hidden" name="answer" value="<%= currentanswer %>"><br><br>
        <input type="submit" value="Delete" class="delete-button2">
        <input type="hidden" name="id" value="<%= id %>"><br><br>
        <input type="hidden" name="zero" value="<%= zero %>"><br><br>
        <input type="hidden" name="pickedcourse" value="<%= pickedcourse %>"><br><br>
        <input type="hidden" name="size" value="<%= size %>"><br><br>

    </form>
</div>

<%- include("footer.ejs") %>