<%- include("header.ejs") %>


<div class="middle">
    <h1>Quiz mode finished!</h1>
    <h2>Your result:</h2>
    <h3>You got <%= points %> out of <%= size %> <%= question %> correct!</h3>
    
    <a class="header-button2" href="/quiz">Back to Quiz</a>&nbsp;&nbsp;
    
</div>

<%- include("footer.ejs") %>