<%- include("header.ejs") %>

<div class="middle">
    <h1>Welcome to Study mode!</h1>
    
    <h2>Pick a course!</h2>
</div>
<div class="row">
    <div class="column-left">
        <a class="study-add-button" href="/studycourseadd/<%= course %>&<%= zero %>">+ New Subject</a>&nbsp;&nbsp;<br>

        <% for (const row of all) {%>
            <% if(course == row.topic) {%>
                <a class="study-button-picked" href="/studycourse/<%= row.topic %>&<%= zero %>"><%= row.topic %></a>&nbsp;&nbsp;
                <br>
            <% } else { %>
                <a class="study-button" href="/studycourse/<%= row.topic %>&<%= zero %>"><%= row.topic %></a>&nbsp;&nbsp;
                <br>
            <% } %>
        <% } %>
       
    </div>
    <div class="column-right2">
        <form method="post" action="/studycourseadd2p/<%= course %>&<%= zero %>" autocomplete="off">
            <input type="hidden" name="course" value="<%= course %>"><br><br>
            <input class="study-add-2-button" type="submit" value="+ Add Course">
            <input class="input-study" type="text" maxlength="20" placeholder="Subject..." name="course" required>
        </form>

        <% for (const row of courses) {%>
            <% if(row.course!==null) {%>
                <a class="course-button" href="/studyquestion/<%= row.course %>&<%= zero %>"><%= row.course %></a>&nbsp;&nbsp;
                <br>
            <% } %>
        <% } %>
    </div>
</div>




<%- include("footer.ejs") %>